{% if not tab %}
  {% set tab = {} %}
{% endif %}
<!DOCTYPE html>
<html lang="et">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <title>{{ config["SITE_NAME"] }} - {{ title }}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="navbar navbar-default nav-white">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">{{ config["SITE_NAME"] }}</a>

        </div>
        <div class="collapse navbar-collapse pull-right" id="main-nav-collapse">
        <ul class="nav navbar-nav navbar-right" id="maintabs">
          <li class="{{ tab['blog'] }}"><a href="{{ url_for('blog')}}" data-toggle="tab2">Blog</a></li>
          <li class="{{ tab['projects'] }}"><a href="#projects" data-toggle="tab2">Projects</a></li>
          <li class="{{ tab['about'] }}"><a href="{{ url_for('about_me')}}" data-toggle="tab2">About Me</a></li>
          <li class="{{ tab['login'] }}"><a href="{{ url_for('login')}}" data-toggle="tab2" alt="Login"><span class="glyphicon glyphicon-cog"></span></a></li>
        </ul>
        </div>
      </div><!-- header -->
      {% for category, message in get_flashed_messages(with_categories=True) %}
      <div class="alert alert-{{ category }} alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {% if isinstance(message, (list, tuple)) %}
            <strong>{{ message[0] }}:</strong> {{ message[1] }}
        {% else %}
            <strong>{{ message }}</strong>
        {% endif %}
      </div>
      {% endfor %}
      {% block body %}{% endblock %}
    </div> <!-- container -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>

